.image-slider {
    display: flex;
    flex-direction: row;
}

.slider-pic {
    height: 400px;
    width: 600px;
}

.pic-window {
    display: flex;
    align-items: center;
}

.left-arrow {
    border-radius: 50%;
    background-color: white;
    font-size: 30px;
    width: 40px;
    height: 40px;
    z-index: 5;
}

.right-arrow {
    border-radius: 50%;
    background-color: white;
    font-size: 30px;
    width: 40px;
    height: 40px;
    z-index: 5;
}